@import 'tailwindcss';

/* Yantramanav Font Faces */
@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Font Family */
  --font-yantramanav: 'Yantramanav', sans-serif;

  /* Container */
  --container-max-width: 1670px;

  /* Background Colors */
  --color-background-main: #0b0e14;
  --color-background-secondary: #000000;
  --color-background-block: #0f172b;

  --color-background-cheating: #ff0707;
  --color-background-mrb: #f80;
  --color-background-mass: #00a9dd;
  --color-background-alt: #0a29b6;

  --color-background-hover-gradient: linear-gradient(95deg, #2da172 -157.43%, #0b0e14 91.51%);

  /* Text Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #b1b1b1;
  --color-text-disabled: #666666;
  --color-text-cheating: #ff0707;
  --color-text-mrb: #f80;
  --color-text-mass: #00a9dd;
  --color-text-alt: #0a29b6;

  /* Background Colors Elements */
  --color-background-meth: #66ceff;
  --color-background-moonshine: #bbf1ff;
  --color-background-gold: #ffd900;
  --color-background-weed: #2da172;
  --color-background-turf: #fff;
  --color-background-cocaine: #e1e1e1;

  /* Accent Colors */
  --color-accent-primary: #2ba071;

  /* Border Colors */
  --color-border-primary: rgba(213, 239, 225, 0.4);

  /* Background Colors */
  --color-background-sidebar: #020618;

  /* Fill */
  --fill-primary: #fff;
  --fill-accent-primary: #2da172;
  --fill-gold: #ffd900;
  --stroke-primary: #fff;
  --stroke-accent-primary: #2da172;
  --stroke-gold: #ffd900;
  /* Box Shadows */
  --shadow-neon:
    26px 34px 12px 0 rgba(43, 160, 113, 0), 17px 22px 11px 0 rgba(43, 160, 113, 0.01),
    10px 12px 9px 0 rgba(43, 160, 113, 0.05), 4px 6px 7px 0 rgba(43, 160, 113, 0.09),
    1px 1px 4px 0 rgba(43, 160, 113, 0.1);

  --shadow-neon-card:
    0 35px 10px 0 rgba(43, 160, 113, 0), 0 22px 9px 0 rgba(43, 160, 113, 0.02), 0 13px 8px 0 rgba(43, 160, 113, 0.08),
    0 6px 6px 0 rgba(43, 160, 113, 0.13), 0 1px 3px 0 rgba(43, 160, 113, 0.15);
  --shadow-neon-card-hover:
    0 52px 15px 0 rgba(43, 160, 113, 0.01), 0 34px 13px 0 rgba(43, 160, 113, 0.04),
    0 19px 11px 0 rgba(43, 160, 113, 0.15), 0 8px 8px 0 rgba(43, 160, 113, 0.26), 0 2px 5px 0 rgba(43, 160, 113, 0.29);
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Yantramanav', sans-serif;
}

body {
  /* font-family: 'Yantramanav', sans-serif; */
  @apply bg-background-main text-text-primary h-full w-full m-0 p-0 antialiased font-yantramanav font-normal;
}

body.sidebar-open::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 9;
}

/* Mobile overlay - starts below header */

body.sidebar-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d5efe1;
  border-radius: 5px;
  border: 1px solid #d5efe1;
}

.container {
  position: relative;
  max-width: 1850px;
  margin: 0px auto;
}

.shelve-card {
  background-size: auto 150px;
  background-position: top;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .shelve-card {
    background-size: cover;
  }
}
